<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1scLkK1Lfe8BWg0X4-qp1le6iZWhVUAg</string>
	<key>GCM_SENDER_ID</key>
	<string>1046723420430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DoorsCompany.AntiqueDoors</string>
	<key>PROJECT_ID</key>
	<string>antiquedoors-1c9b5</string>
	<key>STORAGE_BUCKET</key>
	<string>antiquedoors-1c9b5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046723420430:ios:fd8a439c9a513ca994375f</string>
	<key>DATABASE_URL</key>
	<string>https://antiquedoors-1c9b5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>